body{
    
}

.loader
{
    position: relative;
    height: calc(100vh - 142px - 3rem);
    margin-top: -3rem;
}

.loader > div, .absolute-center
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg-light
{
    background-color: #f9fbfd !important;
}

.pane
{
    padding: 50px 0;
}

.pane:not(.nobar)
{
    border-top: 1px solid #eeeeee;
}

.pane.auto
{
    min-height: calc(100vh - 158px);
}

.pane.air
{
    padding: 150px 0 !important;
}

.pane.semi.air
{
    padding: 80px 0 200px !important;
}

.pane.centered
{
    text-align: center;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 1s
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active in <2.1.8 */
{
    opacity: 0
}

.inherit a, .inherit, .inherit:hover {
    color: inherit !important;
    text-decoration: none;
}

.dropdown-menu
{
    z-index: 1500 !important;
}

.btn:not(.btn-custom) {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 10pt;
    padding: 10px 30px;
    border-radius: 5px;
    transition: all 0.15s ease;
}

.btn.btn-sm:not(.btn-custom) {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 9pt;
    padding: 7px 25px;
    border-radius: 5px;
    transition: all 0.15s ease;
}

.btn.btn-lg
{
    font-size: 12pt;
}

.btn.btn-shadow {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
}

.btn.btn-primary {
    background-color: #1e87f0;
}

.btn.btn-dark {
    background-color: #24292e;
}

.bg-primary .btn.btn-dark
{
    background-color: #272a33;
}

.btn.btn-outline-dark {
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    padding: 12px 35px;
    border-radius: 4px;
    outline: none;
    font-weight: 600;
    margin: 10px;
    white-space: normal;
}

.nav .nav-link.active
{
    font-weight: bold;
    border-bottom: 1px solid;
}

.jumbotron p {
    color: #697A89;
    margin-bottom: 30px;
    font-size: 14px;
}

.height-75
{
    height: 75px;
}

.markdown h2
{
    margin-top: 3rem!important;
    font-size: 1.5rem;
}

.markdown pre
{
    background-color: #efefef;
    padding: 10px;
}

@media (min-width: 1400px) {
    .container {
      max-width: 1200px !important;
    }
  }

@media (min-width: 1200px) {
    .container.large {
      max-width: 1300px !important;
    }
  }