body{
    
}

.loader
{
    position: relative
}

.loader > div
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 1s
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active in <2.1.8 */
{
    opacity: 0
}

.inherit a{
    color: inherit;
}

.dropdown-menu
{
    z-index: 1500 !important;
}

.btn:not(.btn-custom) {
    padding: 10px 30px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 10pt;
    border-radius: 5px;
    transition: all 0.15s ease;
}

.btn.btn-shadow {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
}

.btn.btn-primary {
    background-color: #007aff;
}

.btn.btn-dark {
    background-color: #24292e;
}

.btn.btn-outline-dark {
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    padding: 12px 35px;
    border-radius: 4px;
    outline: none;
    font-weight: 600;
    margin: 10px;
    white-space: normal;
}

.jumbotron p {
    color: #697A89;
    margin-bottom: 30px;
    font-size: 14px;
}